
[dependencies]
astropy-base = ">=7.2.0,<8"
coverage = ">=7.13.3,<8"
dash = "~=3.2.0"
numpy = ">=2.4.2,<3"
plotly = ">=6.5.2,<7"
pytest = ">=9.0.2,<10"
python = ">=3.13,<3.14"
pyzstd = ">=0.19.1,<0.20"
requests = ">=2.32.5,<3"
setuptools = "~=80.8.0"
types-requests = ">=2.32.4.20260107,<3"

[tasks]
lcov = "coverage run -m pytest -q && coverage lcov && coverage report"
main = "python sdssv_spec_appREMOTE.py"
sync = "git pull -ptr && pixi install --frozen"
test = "pytest -v"
updt = "julia --startup-file=no --project update_pixi.jl"
upgd = "pixi upgrade --exclude python && pixi run updt"

[workspace]
channels = ["conda-forge"]
name = "SpecViewer"
platforms = ["linux-64", "win-64", "osx-arm64"]
